.WrapperStyle {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ButtonStyle {
    border: 2px solid #3A3E45;
    color: #3A3E45;
    background-color: transparent;
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.WrapperStyle input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}